.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 18px -6px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 1px 18px -6px rgba(0, 0, 0, 0.68);
    margin: 20px 5px;
}

.post-wrapper {
    padding: 10px;
}

.post-top {
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.post-top__left {
    display: flex;
    align-items: center;
}

.post-profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.post-profile-user-name {
    font-size: 15px;
    font-weight: 400;
    margin: 0 10px;
}

.post-date {
    font-size: 14px;
    color: #7e7e7e;
    font-weight: 500;
}

.post-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-bottom__left {
    display: flex;
    align-items: center;
}



.post-text {
   font-size: 16px
}
.post-image {
    padding: 10px 0;
   
   }

.post-icon-like {
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.post-like-counter {
    font-size: 15px;
    margin-left: 10px;
}

.post-comment-counter {
    font-size: 15px;
    border-bottom: solid 1px grey;
    cursor: pointer;
}

