body {
    margin: 0;
    padding: 0;
    
}

.topbar-container {
    background: #41a0f8;
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 999;

}

.topbar-left {
    flex:3;
}

.topbar-center {
    flex: 5;
}

.topbar-right {
    flex: 4;
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: white;
    font-family: Roboto;
    font-weight: 600;
    margin-left:  30px;
    cursor: pointer;
    text-decoration: none;
}

.topbar-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topbar-links {
    display: flex;
}

.topbar-link {
    margin-right: 10px;
    font-family: roboto;
    cursor: pointer;
}



.topbar-icons {
    display: flex;
    justify-content: space-between;
}

.topbar-icon-item {
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}

.topbar-icon-badge {
    background: red;
    font-family: roboto;
    font-size: 14px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.search-bar {
    width: 100%;
    height: 30px;
    background: white;
    display: flex;
    border-radius: 15px;
    align-items: center;
}

.search-icon {
    font-size: 20px !important ;
    margin-left: 10px;   
}

.search-input {
    width: 70%;
    border:none;
}

.search-input:hover,
.search-input:focus {
    outline: none;
}