.sidebar {
    margin: 20px 5px 20px 20px;
    display: flex;
    flex: 3;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    position: sticky;
    top: 40px
    
}

.sidebar-wrapper {
    margin: 0;
    padding: 0;
    position: sticky;
}

::-webkit-scrollbar {
    margin: 0;
    width: 5px;
    
}

::-webkit-scrollbar-track{
    background-color: rgb(248, 248, 248);
}
::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    cursor: pointer;
}

.sidebar-list {
    list-style: none;
    padding-top: 20px;
    padding-left: 0;

}

.sidebar-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    font-family: roboto;
    cursor: pointer;
}

.sidebar-item__icon {
    margin-right: 15px;
}

.sidebar-button {
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px;
}

.sidebar-hr {
    margin-top: 20px;
}

.sidebar-friend-list {
    list-style: none;
    padding: 0;
    margin: 0;
}








