.right-bar {
  
    flex: 3.5;
}

.right-bar-wrapper {
    padding: 20px 20px 0 20px;
}

.birthday-container {
    margin: 20px 20px 0 0;
}

.birthday-text {
    font-size: 15px;
    font-weight: 300;
}

.ad-image{
    width: 100%;
    border-radius: 8px;
    margin: 20px 0
}



.right-bar__friend-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.follow-button {
    margin-top: 40px;
    background:white ;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: solid 1px #41a0f8;
    color:  #41a0f8;
    cursor: pointer;
}



.follow-button:hover {
    background: #41a0f8;
    color: white;
}

.follow-text {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
    
}



.right-bar__title {
    margin-bottom:  10px;
    font-size: 18px;
    font-weight: 500;
}

.right-bar__info {
    margin-bottom: 10px;
}

.right-bar__info-key {
    margin-right: 15px;
    font-weight: 500;
}

.right-bar__info-value {
    font-weight: 300;
}

.right-bar__followings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-bar__following {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 3px;
    word-wrap:break-word
    
}


.right-bar__following:hover {
    background: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
    box-shadow: 3px 3px 5px hsla(0, 0%, 50%, 0.74) ;
}


.right-bar__following-image {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
}

a {
    text-decoration: none;
}
.right-bar__following-name {
    color: black;
}