*{
    font-family: roboto;
}

.share {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 18px -6px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 1px 18px -6px rgba(0, 0, 0, 0.68);
}

.share-wrapper {
    padding: 5px;
}
.share-profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px ;

}

.share-top {
    display: flex;
    align-content: center;
}

.share-input {
    width: 80%;
    border: none;
}

.share-input:focus {
    outline: none;
}

.share-hr {
    margin-top: 20px;
}

.share-bottom {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.share-options {
   
    display: flex;
   margin-left: 60px;
}
.share-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.share-icon {
    font-size: 18px;
    margin-right: 3px;
}

.share-option-text {
    font-size: 12px;
}


.share-button {
    border: none;
    border-radius: 5px;
    background: #17ac66;
    color: white;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
}