.login {
  width: 100vw;
  height: 100vh;
  background: #e6feff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  height: 70%;
  width: 70%;
  display: flex;
}

.login-right,
.login-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.login-logo {
  font-size: 50px;
  font-weight: 800;
  color: #1c83eb;
  margin-bottom: 10px;
}

.login-desc {
  font-size: 20px;
  padding-right: 100px;
}

.login-box {
  height: 500px;
  display: flex;
  background: white;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(158, 158, 158, 0.774);
}

.login-input {
  height: 50px;
  border: solid 1px #afafaf;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
}

.login-input:focus {
  outline: none;
}

.login-button {
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #1c83eb;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.login-button:disabled {
  cursor: not-allowed;
}

.login-forgot {
  font-weight: 300;
  text-align: center;
  color: #1c83eb;
  cursor: pointer;
}

.login-hr {
  color: grey;
  background: rgb(167, 167, 167);
  height: 0.5px;
  width: 100%;
  border: none;
}

.login-register-button {
  width: 60%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #31cc53;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
}

.login-register-button:disabled {
  background:#afafaf;
  cursor: not-allowed;
}
