.profile {
    display: flex;

}

.profile-right {
    flex: 9;
}

.profile-cover {
    height: 320px;
    position: relative;
}

.profile-cover__image {
    width: 100%;
    height: 250px;
    position: absolute;
    object-fit: cover;
}

.profile-user__image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
    border: rgba(255, 255, 255, 0.692) solid 10px;


}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-items: center;

}


.profile-info__name {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
}

.profile-info__desc {
    font-weight: 300;
}
.profile-right__bottom {
    display: flex;
}