.sidebar-friend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: roboto;
}

.sidebar-friend__image {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 15px ;
}
