.right-bar__friend {
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px
}


.right-bar__profile-image-container {
    position: relative;
}

.right-bar_profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.friend-online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0ebd48;
    border: solid 1.5px white;
    position: absolute;
    top: -3px;
    right: 0;
}

.right-bar__user-name {
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    padding-bottom: 5px;
}